<div class="container row">
	

	<form action="/admin/generate-fake-posts" method="post">
		<h3>Genrate Post</h3>
		<div class="form-group">
			<input type="number" name="amount" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Genrate</button>
	</form>
</div>

<div class="row">
	<canvas id="myChart"></canvas>
</div>