<div class="row">
	<h1>Edit Category</h1>
</div>
<div class="row">	
	<div class="col-sm-4">
		<form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="post">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" placeholder="Enter title" class="form-control" value="{{category.name}}">
			</div>
			<button type="submit" class="btn btn-primary">Update Category</button>
		</form>
	</div>
</div>