<div class="row">
	<div class="col-sm-4">
		<h1>Category</h1>
	</div>

	<div class="col-sm-8">
		<h1>Categories list</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<form action="/admin/categories/create" method="post">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" placeholder="Enter title" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Create Category</button>
		</form>
	</div>

	<div class="col-sm-8">
		<table class="table table-bordered table-striped table-sm">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Date</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>

			<tbody>
				{{#each categories}}
				<tr>
					<td>{{id}}</td>
					<td>{{name}}</td>
					<td>srno</td>
					<td><a href="/admin/categories/edit/{{id}}" class="btn btn-info btn-sm">Edit</a></td>
					<td>
						<form action="/admin/categories/{{id}}?_method=DELETE" method="post">
							<button type="submit" class="btn btn-danger btn-sm">DELETE</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
			
		</table>
	</div>
</div>