{{#if success_message}}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{success_message}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
{{/if}}

{{#if error}}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{error}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
{{/if}}


{{#if error_message}}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{error_message}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
{{/if}}