<h1>Create Post</h1>

{{#each errors}}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
 		{{message}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
{{/each}}

<form action="/admin/posts/create" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" name="title" class="form-control" required>
	</div>

	<div class="form-group">
		<label for="file">Upload Picture</label>
		<input type="file" name="file" class="form-control">
	</div>

	<div class="form-group">
		<label for="title">Category</label>
		<select name="category" id="category" class="form-control">
		{{#each categories}}	
			<option value="{{id}}">{{name}}</option>
			
		{{/each}}	
		</select>
	</div>

	<div class="form-group">
		<label for="title">Status</label>
		<select name="status" id="status" class="form-control">
			<option value="public">Public</option>
			<option value="private">Private</option>
			<option value="draft">Draft</option>
		</select>
	</div>

	<div class="form-check">
		<label for="allowComments" class="form-check-label">
		<input type="checkbox" name="allowComments" class="form-check-input" id="allowComments" required>
			Allow Comments
		</label>
	</div>

	<div class="form-group">
		<label for="body">Body</label>
		<textarea type="text" name="body" class="form-control" id="body" cols="30" rows="10"></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Create Post</button>
</form>