<h1>Edit Post</h1>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" name="title" class="form-control" value="{{post.title}}">
	</div>

	<div class="form-group">
		<label for="title">File Upload</label>
		<input type="file" name="file" class="form-control" value="">
	</div>

	<div class="form-group">
		<label for="title">Category</label>
		<select name="category" id="category" class="form-control">
		{{#select post.category}}	
		{{#each categories}}	
			<option value="{{id}}">{{name}}</option>
		{{/each}}	
		{{/select}}	
		</select>
	</div>

	<div class="form-group">
		<label for="title">Status</label>
		<select name="status" id="status" class="form-control">
		{{#select post.status}}	
			<option value="public">Public</option>
			<option value="private">Private</option>
			<option value="draft">Draft</option>
		{{/select}}	
		</select>
	</div>
	
	<div class="form-check">
		<label for="allowComments" class="form-check-label">
		<input type="checkbox" name="allowComments" class="form-check-input" {{#if post.allowComments}} checked="checked" 
		
		{{/if}} id="allowComments">
			Allow Comments
		</label>
	</div>

	<div class="form-group">
		<label for="body">Body</label>
		<textarea type="text" name="body" class="form-control" id="body" cols="30" rows="10">{{post.body}}</textarea>
	</div>

	<button type="submit" class="btn btn-primary">Update Post</button>
</form>