<h1>All Post</h1>
	

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Image</th>
			<th>Title</th>
			<th>Status</th>
			<th>Category</th>
			<th>Allow Comments</th>
			<th>Date</th>
			<th colspan="3">Actions</th>
		</tr>
	</thead>

	<tbody>
		{{#each posts}}
		<tr>
			<td>{{id}}</td>
			<td><img src="/uploads/{{file}}" alt="" class="img-responsive" height="50px"></td>
			<td>{{title}}</td>
			<td>{{status}}</td>
			<td>{{category.name}}</td>
			<td>{{allowComments}}</td>
			<td>{{generateTime date 'MMM Do YYYY'}}</td>
			<td><a href="/post/{{slug}}" class="btn btn-warning btn-sm">View</a></td>
			{{!-- <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info btn-sm">Edit</a></td>
			<td>
				<form action="/admin/posts/{{id}}?_method=DELETE" method="post">
					<button type="submit" class="btn btn-danger btn-sm">Del</button>
				</form>
			</td> --}}
		</tr>
		{{/each}}
	</tbody>
	
</table>