<div class="row">

  <!-- Post Content Column -->
  <div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">{{post.title}}</h1>

    <!-- Author -->
    <p class="lead">
      by
      <a href="#">{{post.user.firstName}}</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{generateTime post.date 'LLLL'}}</p>

    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="">

    <hr>

    <!-- Post Content -->
    <p>{{post.body}}</p>

    

    <hr>
    {{#if user}}
      {{#if post.allowComments}}

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form action="/admin/comments" method="post">
            <div class="form-group">
              <textarea name="body" class="form-control" rows="3"></textarea>
            </div>
            <input type="hidden" name="id" value="{{post.id}}">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      {{else}}
      <h2>Comments not allowed on this post</h2>
      <hr>
      <br>

      {{/if}}

      {{else}}
      <span><h2>You must login to comment on this post</h2> <a href="/login">Login</a></span>
      <hr>
      <br>
    {{/if}}
    
    {{#each post.comments}}
    <!-- Single Comment -->
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
      <div class="media-body">
        <h5 class="mt-0">{{user.firstName}}</h5>
       {{body}}
      </div>
    </div>

    {{/each}}

    <!-- Comment with nested comments 
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
      <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <div class="media mt-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <div class="media mt-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

      </div>
    </div>-->

  </div>

  <!-- Sidebar Widgets Column -->
 {{> home/sidebar}}

</div>
<!-- /.row -->