<h1>Comments</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Owner</th>
			<th>Approve</th>
			<th>Date</th>
			<th colspan="2">Actions</th>
		</tr>
	</thead>

	<tbody>
		{{#each comments}}
		<tr>
			<td>{{id}}</td>
			<td>{{user.firstName}}</td>
			<td><input type="checkbox" name="approveComment" {{#if approveComment}} checked {{/if}} data-id="{{id}}"></td>
			<td>{{generateTime date 'MMM Do YYYY'}}</td>
			<td><a href="/admin/posts/edit/{{id}}" class="btn btn-info btn-sm">Edit</a></td>
			<td>
				<form action="/admin/comments/delete/{{id}}?_method=DELETE" method="post">
					<button type="submit" class="btn btn-danger btn-sm">DELETE</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
	
</table>